# Compiled binary files
/target/
**/*.rs.bk

# Cargo.lock can be ignored if you are building a library
# but should be tracked for applications
Cargo.lock

# IDE or editor-specific files
.idea/
*.sublime-project
*.sublime-workspace
.vscode/
*.code-workspace

# Build artifacts
*.rlib
*.dSYM/
*.o
*.so
*.dll
*.exe
*.d
*.pdb
*.bin

# Coverage reports
/coverage/

# Dependency directories
**/Cargo.lock
**/cargo.lock
**.cargo-lock

# Rust-specific temporary files
**/*.rs.bk

# Environment files
.env

# Json files
*.Json

*.tag
*.lock
